<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crear Vestuario</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div th:replace="fragments/navbar :: navbarAdmin"></div>

<div class="container mt-4">
    <h2>Crear Vestuario</h2>

    <form th:action="@{/admin/vestuario/guardar}"
          th:object="${vestuario}"
          method="post"
          enctype="multipart/form-data">

        <label class="form-label">Nombre</label>
        <input type="text" class="form-control mb-3" th:field="*{nombre}" required>

        <label class="form-label">Descripción</label>
        <input type="text" class="form-control mb-3" th:field="*{descripcion}" required>

        <label class="form-label">Imagen</label>
        <input type="file" name="imagenArchivo" accept="image/*" class="form-control mb-3">

        <button class="btn btn-primary">Guardar</button>
    </form>
</div>

</body>
</html>
