<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Vestuario</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div th:replace="fragments/navbar :: navbarAdmin"></div>

<div class="container mt-4">
    <h2>Editar Vestuario</h2>

    <form th:action="@{'/admin/vestuario/actualizar/' + ${vestuario.id}}"
          th:object="${vestuario}"
          method="post"
          enctype="multipart/form-data">

        <label class="form-label">Nombre</label>
        <input type="text" class="form-control mb-3" th:field="*{nombre}" required>

        <label class="form-label">Descripción</label>
        <input type="text" class="form-control mb-3" th:field="*{descripcion}" required>

        <label class="form-label">Imagen</label>
        <input type="file" name="imagenArchivo" accept="image/*" class="form-control mb-3">

        <div th:if="${vestuario.imagen != null}">
            <p class="text-muted mt-2">Imagen actual:</p>
            <img th:src="@{${vestuario.imagen}}"
                 alt="Imagen del vestuario"
                 class="img-thumbnail mb-3"
                 style="width: 150px; height: 150px; object-fit: cover;">
        </div>

        <button class="btn btn-primary">Actualizar</button>
    </form>
</div>

</body>
</html>

