<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<!-- ⚙️ Fragmento de NAVBAR -->
<head>
    <!-- El CSS y los scripts de Bootstrap deben estar en el layout base (no aquí) -->
</head>

<body>

<!-- ✅ NAVBAR USUARIO -->
<nav th:if="${#authorization.expression('hasRole(''USER'')')}"
     th:fragment="navbarUsuario"
     class="navbar navbar-expand-lg navbar-light navbar-rosa mb-3">
       <a href="/user/perfil" class="nav-link"><i class="bi bi-person-circle fs-1" ></i> </a>
    <div class="container-fluid">

       <a class="navbar-brand" th:href="@{/user/home}"> CatSoup</a>

        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse" data-bs-target="#navUser">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navUser">
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a class="nav-link" th:href="@{/user/home}">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/user/publicaciones}">Publicaciones</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/user/progreso}">Progreso</a></li>
            </ul>
            
        </div>
        
         <a th:href="@{/logout}" class="btn-salir-delicado">Salir</a>
    </div>
    
</nav>


<!-- ✅ NAVBAR ADMIN -->
<nav th:if="${#authorization.expression('hasRole(''ADMIN'')')}"
     th:fragment="navbarAdmin"
     class="navbar navbar-expand-lg navbar-light navbar-rosa mb-3">

    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/admin/home}">👑 CatSoup Admin</a>

        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse" data-bs-target="#navAdmin">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navAdmin">
            <ul class="navbar-nav me-auto">

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/home}">Inicio</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="gestionDropdown"
                       role="button" data-bs-toggle="dropdown">
                        Gestión
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/admin/gatos}">🐱 Gatos</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/vestuario}">👗 Vestuario</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/estaciones}">🏡 Estaciones</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/users}">👥 Usuarios</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/publicaciones}">📝 Publicaciones</a></li>
                    </ul>
                </li>               
            </ul>
              <a th:href="@{/logout}" class="btn-salir-delicado">Salir</a>           
        </div>
    </div>
</nav>



</body>
</html>

